
@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFF;
	background-image: url(/index.php?file=bcms/templates/gcwd./images/bg.jpg);
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
}

a{
	color:#003;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
a:hover{
	color:#036;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}


#MainBodyCentered{
	width:1000px;	
	margin: 0px auto;
}

#CompleteHeader{
	height:253px;
	background-image:url(/index.php?file=bcms/templates/gcwd./images/header.jpg);
	
}
#MainMenu{
	padding-top:113px;
	height:20px;
	text-align:left;
	padding-left:10px;
}
#MainMenu {
	font-size:11px;
	color:#6f95b6;
	text-decoration:none;
}
#MainMenu a{
	font-size:11px;
	color:#0A2145;
	text-decoration:none;
}
#MainMenu a:hover{
	font-size:12px;
	color:#006;
	text-decoration:underline;
}

#BodyContent{
	background-image:url(/index.php?file=bcms/templates/gcwd./images/main-body-shadow.jpg);
	background-repeat:no-repeat;
	width:970px;
	padding:15px;
	text-align:left;
}
#LeftBodyContent{
	width:240px;
	float:left;
}
#NewsTitle{
	padding-left:10px;
	padding-top:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#6f95b6;
}
#LeftBodyContentHeader{
	width:240px;
	height:32px;
	background-image:url(/index.php?file=bcms/templates/gcwd./images/news-header.jpg);
	
}
#LeftBodyContentBody{
	width:230px;
	background-image:url(/index.php?file=bcms/templates/gcwd./images/news-body-bg.jpg);
	padding:5px;
	font-family:Arial, Helvetica, sans-serif;
	color:#6f95b6;
	font-size:12px;
}

#LeftBodyContentFooter{
	width:240px;
	height:13px;
	background-image:url(/index.php?file=bcms/templates/gcwd./images/news-footer.jpg);
	
}
#RightBodyContent{
	width:720px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	color:#6f95b6;
}
#RightBodyContent img{
	margin-right:4px;
}
#FooterHolder{
	background-image:url(/index.php?file=bcms/templates/gcwd./images/footer-bg.jpg);
	background-repeat:no-repeat;
	width:994px;
	height:84px;
	margin-left:3px;
	margin-right:3px;
}
#FooterMenu{
	padding-top:45px;
	padding-left:20px;
	padding-right:20px;
	height:20px;
	text-align:left;
}
#FooterMenuLeft{
	float:left;
}
#FooterMenuLeft a{
	color:#FFF;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
}
#FooterMenuLeft a:hover{
	color:#FFF;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#FooterMenuRight{
	float:right;
}
#FooterMenuRight a{
	color:#FFF;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
}
#FooterMenuRight a:hover{
	color:#FFF;
	text-decoration:underline;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
#ClearBoth{
	clear:both;
}
